.header{
  background-color: #F69406;
  padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 100px;
   padding-left: 80px;
   background-image: url("../assets/backgrounds/landing.jpg");
  image:img/logoBig.png;
}
.head{
  margin-top: 50%;
  float: right;


}
.fast{
  width: 109%;
  font-style: italic;

}

.container-fluid {
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 40px;
}
