.header{
  background-color: #F69406;
  padding: 10px;
  background-image: url("../assets/backgrounds/landing.jpg");
  align-content: center;
}
#head{
  margin-top: 30%;
  padding-left: 40%;
}
.heading {
}
.header p{
  color: white;
  text-align: center;
}

.fast{
  width: 109%;
  font-style: italic;
  padding:1px;
  margin:auto;
}

.container-fluid {
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 40px;
}

p {
  color: black;
  font-size: 12px
}
.lunch{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
}

.Breakfast{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;


}

.Dinner {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
    padding: 80px;
}

#party {
  background-color: #f49b42;
margin-left: 5px;
margin-right: 5px;
}

#happy {
  border-color:#edf0f4;
}

.pad{
  padding-left: 0;
  padding-right: 0;
}

.fastfood {
float: right;
}

#fastfoodimages{
  float: left;
  width: 10px;
}

#drinksimages {
  display: inline;
  float: right;
  margin-bottom: 20px
  padding:40px;
}
.drinks {
  float: left;

}

.categories {}
.Chicken Burger {
  position: absolute;
    bottom: : 50%;
    left: 50%;
    traeliverynsform: translate(-50%, -50%);
}
.delivery {
  background-image: url("../assets/backgrounds/subscribe.jpg");
  text-align: center;
  padding: 115px;
  color: white;
}
#menu {
color: black;
}
#customers {
  color: black;
}

.menupic {
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.button1 {
  background-color: inherit;
  padding: 10px 150px;
  text-align: left;
  margin-right: 30px;
}
.button2 {
  background-color: #F15A29;
  padding: 10px 100px;
}
.button {
  display: block;
  font-size: 32px;
  padding: 40px 24px;
}
.customersimages {
align-items: center;
}
#customersandmenu {
color:#eaedf2;
padding: 5px;
box-shadow:4px 4px 4px 4px ;
margin: 95px;
align-content: center;
}
#footer {
  background-color: #F15A29;
  padding: 60px;
  align:center;
  color: white;
}

#logo_white {
  align-items: center;
}

footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F15A29;
    text-align: center;
    font-size: 10px;
    color: white;
}

body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:black;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#b;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.icon{z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#f1f1f1;
  position:absolute;
   text-align:center;
   font-size:12px;}
.icon ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.icon li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.icon li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.icon ul li a { text-decoration:none;  margin: 0px; color:#666;}
.icon ul li a:hover {  color: #666; text-decoration:none;}
.icon a{text-decoration:none; color:#666;}
.icon a:hover{text-decoration:none; color:#666;}

.glyph-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
