.header{
  background-color: #F69406;
  padding: 10px;
  background-image: url("../assets/backgrounds/landing.jpg");
  align-content: center;
}
#head{
  margin-top: 30%;
  padding-left: 40%;
}
.heading {
}
.header p{
  color: white;
  text-align: center;
}

.fast{
  width: 109%;
  font-style: italic;
  padding:1px;
  margin:auto;
}

.container-fluid {
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 40px;
}

p {
  color: black;
  font-size: 12px
}
#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  color: white;
  text-align: center;
  font-style: italic;
}

#Breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  color: white;
  text-align: center;
  font-style: italic;
}

#fastFood1 {
  padding: 70px;
  margin: 20px;
}
#happyandparty {
  padding: 20px
}
#drinks1 {
  padding-top: : 30px;
  margin-top: 10px;

}


#Dinner {
  background-image: url("../assets/foodtop/dinner.jpg");
  color: white;
  text-align: center;
  font-style: italic;
  padding: 40px;
}

#party {
  background-color: #f49b42;
padding-left: 40px;
}

#happy {
  border-color:#edf0f4;
  padding: 30px;
}

.pad{
  padding-left: 0;
  padding-right: 0;
}

.fastfood {
float: right;
}

#fastfoodimages {
  width: 10px;
  box-shadow:4px 4px 4px 4px grey;
}

#drinksimages {
  display: inline;
box-shadow:4px 4px 4px 4px grey;



}
#drinks {
margin-top: 60px;

}

.categories {}
.Chicken Burger {
  position: absolute;
    bottom: : 50%;
    left: 50%;
    traeliverynsform: translate(-50%, -50%);
}
.delivery {
  background-image: url("../assets/backgrounds/subscribe.jpg");
  text-align: center;
  padding: 115px;
  color: white;
  background-repeat: no-repeat;
}
#menu {
color: black;
}
#customers {
  color: black;
}
#background {
  background-color: white;
  padding: 30px;
}

.menupic {
  background: url("../assets/backgrounds/foodsBg.jpg");

}
.button1 {
  background-color: inherit;
  padding: 10px 150px;
  text-align: left;
  margin-right: 30px;
}
.button2 {
  background-color: #F15A29;
  padding: 10px 100px;
}
.button {
  display: block;
  font-size: 32px;
  padding: 40px 24px;
}
.button4 {
  color: #F15A29;
}
.customersimages {
align-items: center;
}
#customersandmenu {
color:#eaedf2;
padding: 5px;
box-shadow:4px 4px 4px 4px ;
margin: 95px;
align-content: center;
}
#footer {
  background-color: #F15A29;
  color: white;
  width: 100%;
  margin-right: 0;
  margin-left: 0;

}

#logo_white {
  align-items: center;
}

footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F15A29;
    text-align: center;
    font-size: 10px;
    color: white;
}


}
.icon{z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#f1f1f1;
  position:absolute;
   text-align:center;
   font-size:12px;}
.icon ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.icon li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.icon li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.icon ul li a { text-decoration:none;  margin: 0px; color:#666;}
.icon ul li a:hover {  color: #666; text-decoration:none;}
.icon a{text-decoration:none; color:#666;}
.icon a:hover{text-decoration:none; color:#666;}

.glyph-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
#foot{
padding-left: 25%;
padding-right: 25%;

}
#panel{
  height: 500px;
  background-image: url("../images/foodsBg.jpg");
  padding: 50px;
      margin: 0px auto;
      background-repeat: no-repeat;
      background-size: cover;
}
#tabs{
		background-size: cover;
		background-repeat: no-repeat;
		padding: 50px;
    margin: 0px auto;
    body {
    padding : 10px ;

  }
